{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "firmReference": $util.dynamodb.toDynamoDBJson($ctx.source.firmReference),
        "itemType": $util.dynamodb.toDynamoDBJson("AlternativeFirmNames")
    }
}